
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    /*width: 100%;*/
}

td, th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #eee;
}

tr:nth-child(2), tr th:first-child {
    background-color: #ddd;
    font-size: 8pt;
    font-style: italic;
}

tr:first-child, tr:first-child th:first-child{
    background-color: #fff;
    border: none;
}

.highlight {
    font-weight:bold;
}
